.header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: rgb(16, 35, 199);
    position: relative;
    z-index: +1;
}

.searchbar {
  font-size: large;
  height: fit-content;
  width: 20%;
  position: fixed;
  top: 4%;
  left: 40%;
  z-index: +2;
}

.username {
  font-size: large;
  height: fit-content;
  width: 20%;
  position: fixed;
  top: 4%;
  left: 40%;
}

.password {
  font-size: large;
  height: fit-content;
  width: 20%;
  position: fixed;
  top: 12%;
  left: 40%;
}

.email {
  font-size: large;
  height: fit-content;
  width: 20%;
  position: fixed;
  top: 20%;
  left: 40%;
}

.login {
  background-color: aqua;
  font-size: x-large;
  width: 20%;
  height: 11.3%;
  border: aqua;
  position: fixed;
  top: 0%;
  right: 0%;
}

.log_in{
  position: fixed;
  top: 24%;
  right: 52%;
}

.register{
  position: fixed;
  top: 24%;
  right: 44%;
}
.login:hover {
  background-color: blue;
  font-size: x-large;
  width: 20%;
  border: blue;
}

html{
  height: 100%;
}

body{
    background-image: url("Finland_map.jpg");
    background-color: rgba(238, 192, 161, 0.644);
    background-repeat: no-repeat;
    background-position-x: 0%;
    background-position-y: 100%;
    background-size: 392px 648px;
}

.List{
  display: flex;
  flex-flow: column wrap;
  position: fixed;
  left: 30%;
  top: 10%;
}



.Oulu {
    display: inline-block;
    width: 15px;
    height: 15px;
    background: red;
    position: absolute;
    left: 194px;
    bottom: 320px;
    opacity: 100%;
  }
.Rovaniemi {
    display: inline-block;
    width: 15px;
    height: 15px;
    background: red;
    position: absolute;
    left: 199px;
    bottom: 420px;
    opacity: 100%;
  }
.Kokkola {
    display: inline-block;
    width: 15px;
    height: 15px;
    background: red;
    position: absolute;
    left: 125px;
    bottom: 245px;
    opacity: 100%;
  }
.Vaasa {
    display: inline-block;
    width: 15px;
    height: 15px;
    background: red;
    position: absolute;
    left: 83px;
    bottom: 200px;
    opacity: 100%;
  }
  .Kuopio {
    display: inline-block;
    width: 15px;
    height: 15px;
    background: red;
    position: absolute;
    left: 255px;
    bottom: 190px;
    opacity: 100%;
  }
  .Joensuu {
    display: inline-block;
    width: 15px;
    height: 15px;
    background: red;
    position: absolute;
    left: 320px;
    bottom: 168px;
    opacity: 100%;
  }
  .Varkaus {
    display: inline-block;
    width: 15px;
    height: 15px;
    background: red;
    position: absolute;
    left: 265px;
    bottom: 145px;
    opacity: 100%;
  }
  .Jyväskylä {
    display: inline-block;
    width: 15px;
    height: 15px;
    background: red;
    position: absolute;
    left: 202px;
    bottom: 142px;
    opacity: 100%;
  }
  .Pori {
    display: inline-block;
    width: 15px;
    height: 15px;
    background: red;
    position: absolute;
    left: 82px;
    bottom: 90px;
    opacity: 100%;
  }
  .Tampere {
    display: inline-block;
    width: 15px;
    height: 15px;
    background: red;
    position: absolute;
    left: 140px;
    bottom: 92px;
    opacity: 100%;
  }
  .Rauma {
    display: inline-block;
    width: 15px;
    height: 15px;
    background: red;
    position: absolute;
    left: 72px;
    bottom: 75px;
    opacity: 100%;
  }
  .Lahti {
    display: inline-block;
    width: 15px;
    height: 15px;
    background: red;
    position: absolute;
    left: 200px;
    bottom: 58px;
    opacity: 100%;
  }
  .Uusikaupunki {
    display: inline-block;
    width: 15px;
    height: 15px;
    background: red;
    position: absolute;
    left: 70px;
    bottom: 53px;
    opacity: 100%;
  }
  .Turku {
    display: inline-block;
    width: 15px;
    height: 15px;
    background: red;
    position: absolute;
    left: 95px;
    bottom: 27px;
    opacity: 100%;
  }
  .Espoo {
    display: inline-block;
    width: 15px;
    height: 15px;
    background: red;
    position: absolute;
    left: 168px;
    bottom: 12px;
    opacity: 100%;
  }
  .Helsinki {
    display: inline-block;
    width: 15px;
    height: 15px;
    background: red;
    position: absolute;
    left: 180px;
    bottom: 10px;
    opacity: 100%;
  }
  .Loviisa {
    display: inline-block;
    width: 15px;
    height: 15px;
    background: red;
    position: absolute;
    left: 220px;
    bottom: 29px;
    opacity: 100%;
  }
  .Kotka {
    display: inline-block;
    width: 15px;
    height: 15px;
    background: red;
    position: absolute;
    left: 235px;
    bottom: 27px;
    opacity: 100%;
  }
  .Hamina {
    display: inline-block;
    width: 15px;
    height: 15px;
    background: red;
    position: absolute;
    left: 250px;
    bottom: 31px;
    opacity: 100%;
  }
  .Ivalo {
    display: inline-block;
    width: 15px;
    height: 15px;
    background: red;
    position: absolute;
    left: 243px;
    bottom: 555px;
    opacity: 100%;
  }
