/*.finland {
    width: 40%;
}*/

.header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

body{
    background-image: url("Finland_map.jpg");
    background-repeat: no-repeat;
    background-size: 30%;
}

.oulu {
    display: inline-block;
    width: 15px;
    height: 15px;
    background: red;
    position: absolute;
    left: 15%;
    top: 48.8%;
    opacity: 100%;
  }
.rovaniemi {
    display: inline-block;
    width: 15px;
    height: 15px;
    background: red;
    position: absolute;
    left: 15.5%;
    top: 32.5%;
    opacity: 100%;
  }
.kokkola {
    display: inline-block;
    width: 15px;
    height: 15px;
    background: red;
    position: absolute;
    left: 9.6%;
    top: 60%;
    opacity: 100%;
  }
.vaasa {
    display: inline-block;
    width: 15px;
    height: 15px;
    background: red;
    position: absolute;
    left: 6.6%;
    top: 66%;
    opacity: 100%;
  }
  .kuopio {
    display: inline-block;
    width: 15px;
    height: 15px;
    background: red;
    position: absolute;
    left: 20.1%;
    top: 69%;
    opacity: 100%;
  }
  .joensuu {
    display: inline-block;
    width: 15px;
    height: 15px;
    background: red;
    position: absolute;
    left: 24.2%;
    top: 71.6%;
    opacity: 100%;
  }
  .varkaus {
    display: inline-block;
    width: 15px;
    height: 15px;
    background: red;
    position: absolute;
    left: 20.6%;
    top: 74.8%;
    opacity: 100%;
  }
  .jyväskylä {
    display: inline-block;
    width: 15px;
    height: 15px;
    background: red;
    position: absolute;
    left: 15.7%;
    top: 75.5%;
    opacity: 100%;
  }
  .pori {
    display: inline-block;
    width: 15px;
    height: 15px;
    background: red;
    position: absolute;
    left: 6.1%;
    top: 82.3%;
    opacity: 100%;
  }
  .tampere {
    display: inline-block;
    width: 15px;
    height: 15px;
    background: red;
    position: absolute;
    left: 11%;
    top: 83.1%;
    opacity: 100%;
  }
  .rauma {
    display: inline-block;
    width: 15px;
    height: 15px;
    background: red;
    position: absolute;
    left: 5.4%;
    top: 86%;
    opacity: 100%;
  }
  .lahti {
    display: inline-block;
    width: 15px;
    height: 15px;
    background: red;
    position: absolute;
    left: 15.5%;
    top: 88.5%;
    opacity: 100%;
  }
  .uusikaupunki {
    display: inline-block;
    width: 15px;
    height: 15px;
    background: red;
    position: absolute;
    left: 5%;
    top: 88.8%;
    opacity: 100%;
  }
  .turku {
    display: inline-block;
    width: 15px;
    height: 15px;
    background: red;
    position: absolute;
    left: 7.1%;
    top: 93%;
    opacity: 100%;
  }
  .espoo {
    display: inline-block;
    width: 15px;
    height: 15px;
    background: red;
    position: absolute;
    left: 12.6%;
    top: 95.9%;
    opacity: 100%;
  }
  .helsinki {
    display: inline-block;
    width: 15px;
    height: 15px;
    background: red;
    position: absolute;
    left: 13.65%;
    top: 95.8%;
    opacity: 100%;
  }
  .loviisa {
    display: inline-block;
    width: 15px;
    height: 15px;
    background: red;
    position: absolute;
    left: 16.7%;
    top: 93.5%;
    opacity: 100%;
  }
  .kotka {
    display: inline-block;
    width: 15px;
    height: 15px;
    background: red;
    position: absolute;
    left: 18%;
    top: 93%;
    opacity: 100%;
  }
  .hamina {
    display: inline-block;
    width: 15px;
    height: 15px;
    background: red;
    position: absolute;
    left: 19%;
    top: 92%;
    opacity: 100%;
  }
  .ivalo {
    display: inline-block;
    width: 15px;
    height: 15px;
    background: red;
    position: absolute;
    left: 18.7%;
    top: 12%;
    opacity: 100%;
  }
